{
  BasedOnStyle: mozilla,
  IndentWidth: 4,
  ColumnLimit: 100,
  AccessModifierOffset: -4,
  AlwaysBreakAfterReturnType: None,
  AlwaysBreakAfterDefinitionReturnType: None,
  AllowAllParametersOfDeclarationOnNextLine: false,
  AllowAllArgumentsOnNextLine: false,
  BinPackArguments: false,
  AlignConsecutiveMacros: true,
  AlignConsecutiveDeclarations: true,
  AlignConsecutiveAssignments: true,
  AlignAfterOpenBracket: true,
  AlignEscapedNewlines: Right,
}

